body 
{
	background: linear-gradient(to left, #000000 0%, #252525 10%, #252525 90%, #000000 100%); 
	font-family: "Montserrat", sans-serif;
	color: white;
}

p
{
	font-size: 1.25em;
}

h3
{
	font-family: "Ubuntu", sans-serif;
	font-weight: bold;
}

.mainPage
{
	margin-right: 2vw;
	margin-left: 2vw;
}

.custom
{
	color:white;
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
}

a:link 
{ 
	text-decoration: none; 
}
